<html>
    <head>
        <title>Simple flask site with with a form</title>
    </head>
    <body>
        <h1>Simple flask website with a form</h1>
        <p>This is a simple website served by flask!</p>
        {% if name %}
            <h1>Hello {{ name }}!!</h1>
        {% else %}
            <h1>What's your username?</h1>
            <br/>
            <form method ="Post">
                {{ form.hidden_tag() }}
                {{ form.name.label }}
                {{ form.name }}
                {{ form.submit }}
            </form>
        {% endif %}
    </body>
</html>
